.text-bold {
    font-weight: bold;
}

.text-blue {
    color: var(--blue);
}

.text-lightblue {
    color: var(--lightblue);
}

.greybg {
    background: var(--grey);
}

.d-flex {
    display: flex;
}

.btn {
    border: none;
    outline: none;
    cursor: pointer;
}

.img-fluid {
    width: 100%;
    height: auto;
}

.padding-section {
    padding: 45px 20px 25px 20px;
}